#refs {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Reverse numbering */
#refs .csl-entry {
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 1.5em;
}

#refs .csl-entry::before {
    content: attr(data-number) "." ;
    position: absolute;
    left: 0;
    font-weight: bold;
}
